.container {
  padding: 32px;
  padding-top: 200px;
  padding-bottom: 102px;

  @media (max-width: 1400px) {
    padding-top: 183px;
  }

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 125px;
    padding-bottom: 110px;
  }
}
