.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.pay_box {
  padding: 22px;
  background-color: #fff;
  margin: auto;
  max-width: 450px;
  border-radius: 10px;

  h3 {
    margin-bottom: 16px;
  }
}

.details_order_table {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 12px 0;

    p {
      color: #747a79;
      font-weight: 600;
    }

    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      svg {
        width: 21px;
        vertical-align: middle;
      }
    }
  }
}

.payment_methods_box {
  margin: auto;
  margin-top: 16px;
  padding: 22px;
  background-color: #fff;
  max-width: 450px;
  border-radius: 10px;
}
