.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.box {
  width: 45%;
  margin: auto;
  // background-color: #fff;
  // border-radius: 9px;
  // padding: 16px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

//
.progressContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  span {
    height: 2px !important;
  }
}

//
.search_btn {
  background-color: #0000000a !important;

  &:hover {
    background-color: #d5d5d5 !important;
  }
}

//
.label_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.image_box {
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;

  img {
    width: 100%;
    transition: 0.2s;
  }
}

// .check_box {
//   margin: auto;

//   label {
//     margin: auto;
//   }
// }

@media (max-width: 575.98px) {
  .label_box {
    gap: 16px;
    justify-content: space-evenly;
  }

  .image_box {
    width: 100px !important;
  }
}

.label_text_box {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
}
