.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.box {
  width: 45%;
  margin: auto;
  // background-color: #fff;
  // border-radius: 9px;
  // padding: 16px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

//
.progressContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  span {
    height: 2px !important;
  }
}

//
.search_btn {
  background-color: #0000000a !important;

  &:hover {
    background-color: #d5d5d5 !important;
  }
}
