.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.not_auth_box {
  background-color: #fff;
  padding: 46px;
  border-radius: 9px;
  width: 775px;
  margin: auto;
  margin-top: 16px;

  @media (max-width: 950px) {
    width: 100%;
    padding: 16px;
    padding-top: 32px;
  }

  .not_auth_img {
    width: fit-content;
    margin: auto;
  }

  h1 {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 26px;
  }

  p {
    margin-bottom: 16px;
    color: #757575;
    text-align: justify;
  }
}

//
.main_container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  max-width: 1440px;
  margin: auto;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}

//  money card container
.money_card_container {
  width: fit-content;
  border-radius: 9px;
  background-color: #0b6bcb;
  color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 16px;
  }

  .money_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 44px;
    width: fit-content;
  }

  p {
    color: #c7dff7;
  }

  .rial {
    vertical-align: middle;
    svg {
      width: 33px;
      fill: #fff;
    }
  }

  .money_card_footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    h3 {
      font-size: 16px;
      padding: 4px 12px;
      color: #0b6bcb;
      background-color: #fff;
      border-radius: 4px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }
  }
}

// person card container
.person_card_container {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  border-radius: 9px;
  padding: 16px;
  flex: 1;
  position: relative;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 0;
  }

  .infoIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #757575;
  }

  h1 {
    color: #32383e;

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  p {
    margin-bottom: 16px;
    color: #555e68;

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  .person_img_box {
    width: 224px;

    @media (max-width: 600px) {
      width: 100px;
    }

    img {
      width: 100%;
    }
  }

  .person_data_box {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f4f8;
    gap: 32px;
    padding: 16px;
    border-radius: 6px;
    text-align: center;

    @media (max-width: 600px) {
      justify-content: space-between;
    }

    h1 {
      color: #32383e;
    }

    p {
      margin-bottom: 16px;
      color: #555e68;
      font-weight: 500;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }

    h3 {
      font-size: 16px;
      color: #32383e;
    }
  }

  .button_box {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

// Condetion and term modal
.terms_box {
  background-color: #fff;
  border-radius: 9px;
  margin: auto;
  text-align: right;

  @media (max-width: 950px) {
    width: 100%;
  }

  h1 {
    margin-bottom: 16px;
    margin-top: 0px;
  }

  p {
    margin-bottom: 32px;
    color: #757575;
    text-align: justify;
  }

  ul {
    margin-top: 16px;
    padding-right: 24px;
    list-style-position: outside;
  }

  li {
    color: #757575;
    margin-bottom: 8px;
    text-align: justify;
  }

  h6 {
    font-size: 16px;
    margin-top: 24px;
  }

  label {
    margin: 0;
  }
}
