/* @keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
@keyframes gradient-fade-1 {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
@keyframes gradient-fade-2 {
  from {
    transform: translate(20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(60%, 60%) rotate(360deg);
  }
}
@keyframes gradient-fade-3 {
  from {
    transform: translate(20%, -20%) rotate(0deg);
  }
  to {
    transform: translate(60%, -60%) rotate(360deg);
  }
}
@keyframes gradient-fade-4 {
  from {
    transform: translate(-20%, -20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, -60%) rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */

.home-father {
  a {
    text-decoration: none;
  }

  ul {
    padding: 0px;
    color: #fff;
  }

  /*start intro section*/
  .intro-section {
    width: 100%;
    padding: 15px;
    position: relative;
    margin-bottom: 200px;
    background-color: #174545;
  }

  .intro-section::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    border-radius: 100%;
    background-color: transparent;
    /* box-shadow: 0px 0px 150px 100px rgba(8, 193, 106, 0.5); */
  }

  body::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: 0px 0px 150px 100px rgba(8, 193, 106, 0.5);
  }

  @media (max-width: 625px) {
    .intro-section {
      padding: 30px 15px 0;
      margin-bottom: 100px;
    }
  }
  .intro-section::after {
    content: "";
    background-image: url(../../Assets/Images/intro-curve.svg);
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -100px;
    background-position: center;
    width: 100%;
    height: 100px;
  }

  @media (max-width: 625px) {
    .intro-section::after {
      height: 40px;
      bottom: -38px;
    }
  }

  .intro-section .circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      101deg,
      rgba(18, 26, 41, 0.5) 0%,
      rgba(31, 67, 68, 0.2) 50%,
      rgba(223, 209, 152, 0.2) 100%
    );
    opacity: 0.5;
  }

  @media (max-width: 625px) {
    .intro-section .circle {
      width: 100px !important;
      height: 100px !important;
    }
  }

  .intro-section .circle-top-left {
    top: -25px;
    left: -60px;
    width: 250px;
    height: 250px;
    animation: gradient-fade-1 6s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .circle-top-left {
      left: 0;
    }
  }

  .intro-section .circle-top-right {
    top: 50px;
    right: 150px;
    width: 170px;
    height: 170px;
    animation: gradient-fade-2 6s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .circle-top-right {
      right: -20px;
    }
  }

  .intro-section .large-circle {
    top: 45%;
    right: -150px;
    width: 450px;
    height: 450px;
    animation: gradient-fade-3 6s ease-in-out 3s infinite alternate;
  }

  .intro-section .small-circle {
    bottom: 15%;
    left: 150px;
    width: 170px;
    height: 170px;
    animation: gradient-fade-4 6s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .small-circle {
      bottom: 0px;
    }
  }

  .intro-section .xs-circle1 {
    bottom: 45%;
    left: 22%;
    width: 70px;
    height: 70px;
    animation: gradient-fade-1 6s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .xs-circle1 {
      left: 0;
    }
  }

  .intro-section .xs-circle {
    bottom: 25%;
    right: 22%;
    width: 70px;
    height: 70px;
    animation: gradient-fade 6s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .xs-circle {
      right: 0;
    }
  }

  .intro-section .circle.circle-top {
    width: 400px;
    height: 400px;
    margin: -11% 35%;
    animation: gradient-fade 8s ease-in-out 3s infinite alternate;
  }

  @media (max-width: 625px) {
    .intro-section .circle.circle-top {
      margin: -15% 20%;
    }
  }

  .intro-section .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  .intro-section .intro-content .logo-img {
    width: 180px;
    height: 115px;
    margin: 25px auto 125px auto;
  }

  .intro-section .intro-content .logo-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transform: scale(1.2);
  }

  @media (max-width: 625px) {
    .intro-section .intro-content .logo-img {
      width: 100px;
      height: auto;
      margin: 0 auto 30px;
      margin-top: 55px;
    }

    .intro-section .intro-content .logo-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      transform: scale(1.1);
    }
  }

  @media (max-width: 625px) {
    .intro-section
      .intro-content
      .discount-details
      .dicount-title
      .discount-text
      p {
      font-size: 20px;
    }

    .intro-section .intro-content .discount-details h6 {
      width: 100%;
    }
  }

  .intro-section .intro-content .discount-details h6 {
    color: #bbb;
    text-align: center;
    font-size: 24px;
    font-family: "mont-reg" !important;
    margin: 0px auto 0px auto;
    line-height: 50px;
    width: 65%;
  }

  .intro-section .intro-content .discount-details h6 span {
    color: #fef8fb;
    font-size: 43px;
    font-weight: 600;
    font-family: "mont-reg" !important;
  }

  .discount-bttn {
    min-width: 165px;
    height: 55px;
    padding: 10px 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #e2d399;
    color: #174545;
    font-size: 18px;
    margin: 48px 0 0;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid transparent;
  }

  .discount-bttn:hover {
    background-color: #203840;
    border: 1px solid #e2d399;
    color: #e2d399;
  }

  @media (max-width: 768px) {
    .discount-bttn {
      margin: 48px 0 0;
    }
  }

  @media (max-width: 768px) {
    .intro-section .intro-content .discount-details h6 {
      text-align: center;
      width: 100%;
    }

    .intro-section .intro-content .discount-details h6 span {
      font-size: 30px !important;
    }
  }

  @media (max-width: 625px) {
    .intro-section .intro-content .discount-details h6 {
      line-height: 1.7;
      width: 100%;
      font-size: 16px;
    }

    .intro-section .intro-content .discount-details h6 span {
      font-size: 22px;
    }
  }

  @media (max-width: 768px) {
    .intro-section .intro-content .discount-details {
      width: 100%;
    }
  }

  @media (max-width: 625px) {
    .intro-section .intro-content {
      justify-content: flex-start;
      min-height: auto;
    }
  }

  /* Login Button */
  .login-btn-box {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  @media (max-width: 625px) {
    .login-btn-box {
      top: 16px;
      right: 16px;
    }
  }

  /* Language Switcher */
  .lang-switcher {
    position: absolute;
    z-index: 9;
    top: 32px;
    left: 32px;
    box-sizing: content-box !important;
  }

  .switch {
    position: relative;
    display: inline-block;
    margin: 0;
    box-sizing: content-box !important;
  }

  .switch > span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: #f0f1f3;
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: #174545;
  }

  .switch > span.on {
    left: 2px;
    padding-left: 2px;
    color: #f0f1f3;
  }

  .switch > span.off {
    right: 2px;
    padding-right: 4px;
    color: #174545;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #f0f1f3;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    box-sizing: content-box !important;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }

  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #f0f1f3;

    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #174545;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  input.check-toggle-round-flat:checked + label {
  }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

  @media (max-width: 625px) {
    .lang-switcher {
      top: 16px;
      left: 16px;
    }
  }

  /*End intro section*/

  /*Start Video Section*/
  .title-box {
    margin-top: 48px;
    margin-bottom: 32px;
  }

  .title-box h2 {
    color: #174545;
    text-align: center;
    font-family: "mont-medium" !important;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    border-bottom: 5px solid #e6d39c;
    margin-bottom: 0;
  }

  .video-container {
    padding: 16px;
  }

  .video-container .container {
    max-width: 900px !important;
  }

  .plyr--video .plyr__control--overlaid {
    color: #e2d399 !important;
  }

  .plyr__control--overlaid {
    background: #203840 !important;
  }

  .plyr--full-ui input[type="range"] {
    color: #e2d399;
  }

  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control[aria-expanded="true"] {
    background: #e2d399;
  }

  .plyr--video .plyr__control:hover {
    background: #203840;
  }

  .plyr__menu__container
    .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
    background: #e2d399;
  }
  /*End Video section*/

  /*Start Our Services Section*/
  .services-section {
    padding: 16px;
  }

  .services-section .row {
    row-gap: 30px;
  }
  @media (max-width: 625px) {
    .services-section .row {
      row-gap: 20px;
    }
  }

  .services-section .service-card {
    padding: 45px;
    border-radius: 5px;
    transition: 0.3s;
    min-height: 415px;
    background-color: #fff;
    transition: 0.2s;
    justify-content: space-between;
  }

  .services-section .service-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @media (max-width: 768px) {
    .services-section .service-card {
      padding: 16px;
    }

    .serv-container {
      padding: 0;
    }
  }
  @media (max-width: 625px) {
    .services-section .service-card {
      min-height: 350px;
    }
  }

  .services-section .service-card .service-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    background-color: #174545;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services-section .service-card .service-img svg {
    width: 30px;
    height: 30px;
    fill: #e6d39c;
  }

  .services-section .service-card h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #174545;
    font-family: "mont-bold" !important;
  }

  @media (max-width: 625px) {
    .services-section .service-card h4 {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  .services-section .service-card ul {
    margin: 20px 0 0;
    list-style: none;
  }

  .services-section .service-card ul li {
    position: relative;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 1.7;
    color: #757575;
    font-size: 16px;
    line-height: 1.7;
    font-family: "mont-medium" !important;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  .services-section .service-card p {
    text-align: center !important;
    color: #757575 !important;
    margin-bottom: 16px;
    margin-top: 6px;
    font-size: 14px;
    font-family: "mont-light" !important;
  }

  .services-section .service-card ul li:last-child {
    margin-bottom: 0;
  }

  .ask-now-serv {
    background-color: #174545;
    color: #fff;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
  }

  .ask-now-serv:hover {
    background-color: #1a292e;
  }
  /*End Our Services Section*/

  /* Start inspection stage section */
  .cont {
    background-color: #fff;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 64px;
    margin-bottom: 99px;
    padding: 16px;
    margin-top: 48px;
  }

  .cont ul {
    list-style: none;
  }

  .cont li {
    color: #707171;
  }

  .price_box {
    width: 100%;
    height: fit-content;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .price_box div {
    width: calc(100% / 3);
  }

  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root,
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
    cursor: pointer;
    width: 18px;
    height: 18px;
  }

  .price_box li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .g_two ul {
    padding: 0 32px 0 0;
  }

  @media (max-width: 768px) {
    .cont {
      margin: 16px;
      margin-bottom: 64px;
      margin-top: 48px;
    }
    .price_box {
      flex-direction: column !important;
    }
    .price_box div {
      width: 100%;
    }

    .g_one {
      order: 2;
    }

    .g_two {
      order: 3;
    }

    .g_two ul {
      padding: 0;
    }
    .course {
      margin-bottom: 75px;
    }
    .d_padd {
      padding-bottom: 0 !important;
    }
    .u_padd {
      padding-top: 0 !important;
    }
    .m_padd {
      padding-top: 40px !important;
    }

    #first_ul {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  .SvgIcon-root {
    width: 25px;
    height: 25px;
    margin-left: 7px;
    fill: rgb(76, 175, 80);
    vertical-align: middle;
  }

  .stages-img {
    width: 32px;
    margin-left: 12px;
  }
  /* End inspection stage section */

  /* Start why deal with us section */
  .why-we-container {
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .why-we-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .why-we-boxs .how-we-box {
    width: 228px;
    margin-bottom: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    transition: 0.2s;
    box-shadow: 0 0.25em 0 rgb(195, 198, 209);
  }

  .why-we-boxs .how-we-box div {
    background-color: #174545;
    height: 105px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .why-we-boxs .how-we-box div svg {
    fill: #e6d39c;
    height: 64px;
    width: 64px;
  }

  .why-we-boxs .how-we-box h2 {
    color: 174545;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    color: #174545;
    margin: 0;
    padding-top: 22px;
  }

  .why-we-boxs .how-we-box p {
    font-size: 16px;
    color: #757575;
    text-align: center;
    padding: 16px;
    font-weight: 300;
    padding-top: 0;
    font-family: "mont-light" !important;
  }

  @media (max-width: 568px) {
    .why-we-boxs .how-we-box {
      width: 180px;
    }
  }
  /* End why deal with us section */

  /* Start Search section */
  .getService-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0px auto;
    border-radius: 50px;
    background-color: #fff !important;
    position: relative;
    padding: 60px 120px;
    padding-top: 50px;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 28px;
    margin-bottom: 16px;
    margin-top: 48px;
  }

  .getService-section::before {
    position: absolute;
    background: #174545;
    inset: 0 -4px;
    content: "";
    z-index: -1;
    border-radius: inherit;
  }

  .getService-section::after {
    position: absolute;
    content: "";
    inset: 0;
    background: #fff;
    z-index: -1;
    border-radius: inherit;
    background-color: #fff;
  }

  .getService-section .form-group {
    margin-bottom: 30px;
  }
  .getService-section .form-group label {
    color: #444;
    font-family: "mont-light" !important;
    font-size: 15px;
    margin-bottom: 10px;
  }
  @media (max-width: 991px) {
    .getService-section .form-group label {
      font-size: 13px;
    }
  }
  .getService-section .form-group input,
  .getService-section .form-group select {
    background-color: #fff;
    height: 45px !important;
    border-radius: 10px;
    font-size: 13px;
  }

  .getService-section .form-group input:focus,
  .getService-section .form-group select:focus {
    box-shadow: 0px 0px 0px transparent !important;
  }
  .getService-section .form-group textarea {
    min-height: 250px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
  }
  .getService-section .form-group textarea:focus {
    box-shadow: 0px 0px 0px transparent !important;
  }
  @media (max-width: 768px) {
    .getService-section .form-group textarea {
      min-height: 110px;
    }
  }
  .getService-section select {
    color: #999 !important;
    font-size: 15px;
    font-family: "mont-reg" !important;
  }
  .getService-section select option {
    color: #333 !important;
    font-size: 14px;
    padding: 25px !important;
  }
  .getService-section .form-select {
    background-position: left 0.75rem center;
    padding: 10px !important;
  }
  .getService-section .contact-bttn {
    margin: 35px auto;
    margin-bottom: 32px;
    display: block;
    min-width: 165px;
    height: 55px;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #174545;
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
    border: 1px solid transparent;
  }

  .getService-section .contact-bttn:hover {
    background-color: #131b2a;
    color: #fff;
  }

  @media (max-width: 625px) {
    .getService-section .contact-bttn {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    .getService-section {
      width: calc(100% - 30px);
      border-radius: 20px;
      height: auto;
      padding: 30px 0px;
    }
    .getService-section p {
      font-size: 23px;
    }
  }
  @media (max-width: 768px) and (max-width: 625px) {
    .getService-section p {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    .getService-section span {
      font-size: 35px;
    }
  }
  @media (max-width: 768px) and (max-width: 625px) {
    .getService-section span {
      font-size: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .getService-section {
      width: 75%;
      border-radius: 65px;
      height: auto;
    }
    .getService-section p {
      font-size: 21px;
    }
    .getService-section span {
      font-size: 28px !important;
    }
  }
  @media (min-width: 991px) and (max-width: 1199px) {
    .getService-section {
      width: 75%;
      border-radius: 65px;
      height: auto;
    }
    .getService-section p {
      font-size: 21px;
    }
    .getService-section span {
      font-size: 28px !important;
    }
  }

  /* Search input */
  .search-input {
    flex-direction: row-reverse;
    margin-top: 32px;
  }

  .search-input input {
    font-size: 24px;
  }

  .dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    min-width: 124px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
  }

  .dropdown-toggle:hover {
    background-color: #6c757d !important;
  }

  .dropdown-menu {
    min-width: unset;
    width: 124px;
    text-align: center;
    height: 200px;
    overflow: auto;
  }

  .dropdown-toggle::after {
    margin-left: 0 !important;
    margin-right: 0.255em !important;
  }

  .search-result {
    transition: 0.3s;

    display: grid;
    grid-template-rows: 0fr;
    background-color: transparent;
  }

  .search-result div {
    overflow: hidden;
    transition: 0.3s;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .search-result div button {
    transition: 0.3s;
    border-radius: 22px;
    height: 32px;
    border: 1px solid #6c757d;
    color: #6c757d;
    background-color: transparent;
    padding-left: 11px;
    padding-right: 11px;
    font-family: "mont-light" !important;
  }

  .active-model {
    background-color: #6c757d !important;
    color: #fff !important;
  }

  /* End Search section */

  /* Start Overlay (plans) */
  form {
    width: 100%;
    position: relative;
  }

  #form_overlay {
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: 0.3s;
    background-color: #fef8fb;
  }

  #form_overlay h2 {
    margin-top: 64px;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  #form_overlay h3 {
    font-weight: 600;
    color: #707171;
  }

  .btn-secondary {
    padding: 0;
    background-color: transparent;
    color: #757575;
    border: none;
    transform: rotateY(180deg);
    padding-bottom: 5px;
  }

  .btn-secondary:hover {
    background-color: transparent;
    color: #000;
  }

  .overlay .btn-check:checked + .btn,
  .overlay .btn.active,
  .overlay .btn.show,
  .overlay .btn:first-child:active,
  .overlay :not(.btn-check) + .btn:active {
    color: #000;
    background-color: transparent;
  }

  .tooltip-inner {
    background-color: #174545;
  }

  /* modal */
  .modal h6 {
    color: #777;
    margin-bottom: 16px;
    line-height: 1.6;
    font-size: 13px;
  }

  /* Price */
  .price-box {
    text-align: end;
    font-size: 20px;
    color: #777;
  }
  /* Price */
  #price {
    text-align: end;
    font-size: 28px;
  }

  /* Bootstrap */
  .form-control {
    border: 1px solid #6c757d !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .form-control:focus {
    border: 1px solid #6c757d !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .form-select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  @media (max-width: 625px) {
    [data-aos^="fade"][data-aos^="fade"] {
      opacity: 1 !important;
      transform: none !important;
    }
  }

  @media (max-width: 625px) {
    html.with-fancybox {
      overflow: auto;
    }
  }

  @media (max-width: 991px) {
    .form-control {
      background-color: #fff;
      height: 60px;
      font-size: 13px;
      font-family: "mont-light" !important;
    }
  }

  .form-control {
    background-color: #fff;
    height: 60px;
    font-size: 13px;
    font-family: "mont-light" !important;
    appearance: auto;
    border-radius: 55px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  /* Chip "هذا الموديل غير موجود" */
  .gree {
    background-color: #25d366 !important;
    border-color: #25d366 !important;
    color: #fff !important;
  }

  /* Overlay */
  .overlay {
    padding: 0px;
    margin-bottom: 32px;
    width: 100%;
    background-color: #f0f1f3;
    transition: 0.5s;

    display: grid;
    grid-template-rows: 0fr;
    background-color: transparent;
  }

  .overlay > div {
    overflow: hidden;
  }

  /* for test */
  .overlay {
    /* grid-template-rows: 1fr !important; */
  }

  .overlay .card-header {
    background-color: #174545;
    color: #fff;
  }

  .pricing-card-title {
    color: #174545;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }

  .pricing-card-title svg {
    width: 28px;
  }

  @media (max-width: 575px) {
    .pricing-card-title svg {
      width: 24px;
    }
  }

  .overlay h5 {
    color: #000;
    border-bottom: 1px solid #000;
    width: fit-content;
    margin: auto;
    margin-bottom: 8px;
  }
  .overlay li {
    color: #757575;
    line-height: 2.1;
    font-size: 18px;
    text-align: right;
  }

  .overlay li svg {
    width: 16px;
    margin-left: 6px;
  }

  .true-icon {
    fill: #25d366;
  }

  .wrong-icon {
    fill: red;
  }

  .plane-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    margin-bottom: 0 !important;
  }

  .plane {
    padding: 0;
    width: 300px;
  }
  .card {
    height: 100%;
  }

  .card-body button {
    margin-top: auto;
  }

  @media (max-width: 640px) {
    .plane {
      height: unset;
    }
  }

  .crown-box {
    position: relative;
    overflow: hidden;
  }

  .crown-box::after {
    position: absolute;
    content: "خصم 20%";
    top: 15px;
    left: -50px;
    width: 175px;
    height: 47px;
    font-size: 16px;
    background-color: #d32f2f;
    transform: rotate(315deg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seventy-discount {
    position: relative;
    overflow: hidden;
  }

  .seventy-discount::after {
    position: absolute;
    content: "خصم 50%";
    top: 15px;
    left: -50px;
    width: 175px;
    height: 47px;
    font-size: 16px;
    background-color: #d32f2f;
    transform: rotate(315deg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-warning {
    display: none;
    color: #e6d39c !important;
    position: absolute;
    top: 14px;
    left: 138px;
    z-index: 9999999999;
    border-radius: 50px !important;
  }

  @media (min-width: 1116px) {
    .eng {
      height: 700.5;
    }
  }

  .form-sub-title {
    color: #777;
    text-align: center;
    font-size: 18px !important;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .form-control::placeholder {
    font-family: "mont-light" !important;
    font-size: 18px !important;
    color: #999 !important;
  }

  .serv {
    margin-top: 64px;
    padding-bottom: 0px !important;
  }

  .serv h2 {
    padding-bottom: 0px !important;
    margin-top: 90px;
  }

  @media (max-width: 991px) {
    .serv {
      padding-bottom: 16px !important;
    }

    .serv h2 {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
  }

  @media (max-width: 550px) {
    .serv {
      padding-top: 0 !important;
      padding-block: 32px !important;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }

    .serv h2 {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
  }

  .ask-now {
    background-color: #174545;
    color: #fff;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
  }
  /* End Overlay (plans) */

  /* Start testimonian */
  .testimonian {
    margin-bottom: -100px;
    margin-top: 32px;
    position: relative;
    z-index: 999;
    padding: 16px;
  }

  .testimonian .container {
    padding: 0;
  }

  #demo {
    background-color: #174545;
    max-width: 900px;
    margin: auto;
    border-radius: 22px;
  }

  #demo button {
    width: 7% !important;
  }

  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 2rem;
  }

  @media (max-width: 767px) {
    .carousel-caption {
      position: initial;
      z-index: 10;
      padding: 3rem 2rem;
      color: #fff;
      text-align: center;
      font-size: 0.7rem;
      font-style: italic;
      line-height: 1.5rem;
    }
  }

  .carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin: auto;
    margin-top: 2rem;
  }

  @media (max-width: 767px) {
    .carousel-caption img {
      width: 4rem;
      border-radius: 4rem;
      margin-top: 1rem;
    }
  }

  #image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #bbb;
    text-decoration: underline;
  }

  @media (max-width: 767px) {
    #image-caption {
      font-style: normal;
      font-size: 0.6rem;
      margin-top: 0.5rem;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #e6d39c;
    padding: 1.4rem;
    border-radius: 100%;
  }

  @media (max-width: 767px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      padding: 0.8rem;
    }
  }

  .carousel-control-prev {
    justify-content: flex-start;
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
    opacity: unset;
  }

  .left-span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    left: 8px;
    color: #e6d39c;
  }

  .right-span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    right: 8px;
    color: #e6d39c;
  }

  .carousel-indicators .active {
    background-color: #e6d39c !important;
  }
  /* End testimonian */

  /*Start footer section*/
  .footer-section {
    width: 100%;
    min-height: 380px;
    background-image: url(../../Assets/Images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 0px 110px 0px;
    font-family: "mont-light" !important;
    position: relative;
  }
  @media (max-width: 768px) {
    .footer-section {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-top: 170px;
    }
  }
  .footer-section h4 {
    margin-bottom: 25px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-family: "mont-medium" !important;
    line-height: normal;
    position: relative;
  }
  @media (max-width: 991px) {
    .footer-section h4 {
      font-size: 15px;
    }
  }
  .footer-section h4::after {
    content: "";
    margin-top: 10px;
    width: 70px;
    height: 3px;
    background-color: #e6d39c;
    display: block;
    border-radius: 3px;
  }
  .footer-section .footer-logo-img {
    width: 125px;
    height: 83px;
  }
  @media (max-width: 991px) {
    .footer-section .footer-logo-img {
      margin: auto;
    }
  }
  .footer-section .footer-logo-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    filter: grayscale(100%) brightness(0) invert(100%);
    transition: 0.2s;
  }

  .footer-section .footer-logo-img img:hover {
    filter: none;
  }

  .footer-section .footer-intro {
    color: #fff;
    font-family: "mont-light" !important;
    font-size: 14px;
    margin: 25px 0px;
    line-height: 28px;
    width: 90%;
  }
  @media (max-width: 991px) {
    .footer-section .footer-intro {
      width: 100%;
      text-align: center;
    }
  }
  .footer-section .socials {
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
    margin-bottom: 35px;
  }
  @media (max-width: 991px) {
    .footer-section .socials {
      justify-content: center;
      margin-bottom: 35px;
    }
  }
  .footer-section .socials a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    /* margin-left: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socials svg {
    width: 24px !important;
    fill: #e6d39c;
    transition: 0.2s;
  }

  .socials svg:hover {
    fill: gold;
  }

  .footer-section .socials a img {
    width: 100%;
    height: 100%;
  }
  .footer-section .help-list {
    position: relative;
  }
  .footer-section .help-list svg {
    width: 12px;
    margin-right: 3px;
  }

  .footer-section .help-list h4 {
    color: #e6d39c;
  }
  .footer-section .help-list ul li {
    list-style-position: inside;
    margin-bottom: 10px;
  }
  .footer-section .help-list ul li a,
  .footer-section .help-list ul li button {
    color: #fff;
    font-size: 14px;
    font-family: "mont-light" !important;
    background-color: transparent;
  }
  @media (max-width: 991px) {
    .footer-section .help-list ul li a,
    .footer-section .help-list ul li button {
      font-size: 13px;
    }
  }
  .footer-section .footer-contact {
    margin-bottom: 35px;
  }
  @media (max-width: 991px) {
    .footer-section .footer-contact {
      margin: 0;
    }
  }
  .footer-section .footer-contact h4 {
    color: #e6d39c;
  }
  .footer-section .footer-contact .footer-contact-li a {
    font-size: 14px;
    font-family: "mont-light" !important;
  }
  @media (max-width: 625px) {
    .footer-section .footer-contact .footer-contact-li a {
      font-size: 13px;
      margin: 5px 0 0;
    }
  }
  .footer-section .footer-contact ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
  }
  .footer-section .footer-contact ul li {
    width: 49%;
  }
  @media (max-width: 768px) {
    .footer-section .footer-contact ul li {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .footer-section .footer-contact ul li a {
    display: block;
    margin: 10px 0px;
    color: #fff;
  }
  @media (max-width: 991px) {
    .footer-section .footer-contact ul li a {
      font-size: 12px;
    }
  }
  @media (max-width: 625px) {
    .footer-section .footer-contact ul li h6 {
      font-size: 14px;
    }
  }
  .footer-section .footer-contact ul li p {
    color: #ffffff;
    margin-bottom: 10px;
    font-family: "mont-light" !important;
    font-size: 15px;
    display: block;
  }
  @media (max-width: 768px) {
    .footer-section .footer-contact ul li p {
      font-size: 15px;
      line-height: 1.9;
    }
  }
  @media (max-width: 625px) {
    .footer-section .footer-contact ul li p {
      font-size: 13px;
      margin: 0;
    }
  }
  .footer-section .footer-contact ul li span {
    color: #fff;
    margin: 10px;
  }
  @media (max-width: 991px) {
    .footer-section .footer-contact ul li span {
      font-size: 13px;
      margin: 10px 0px;
    }
  }
  .footer-section .footer-contact ul li:first-child {
    width: 100%;
  }
  .footer-section .rights-section {
    margin: 55px 0px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: 991px) {
    .footer-section .rights-section {
      justify-content: center;
      margin-top: 0;
    }
  }
  .footer-section .rights-section .rights-info {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
  }
  @media (max-width: 991px) {
    .footer-section .rights-section .rights-info {
      order: 2;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .footer-section .rights-section .rights-info p {
    font-family: "mont-light" !important;
    margin: 0px 10px;
    font-size: 14px;
  }
  .footer-section .rights-section .sudia-commerce {
    width: 150px;
    height: 80px;
  }
  .footer-section .rights-section .sudia-commerce img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  @media (max-width: 991px) {
    .footer-section .rights-section .sudia-commerce {
      margin-bottom: 15px;
    }
  }
  .footer-section .rights-section .sponsors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  @media (max-width: 991px) {
    .footer-section .rights-section .sponsors {
      order: 1;
      justify-content: center;
      width: 100%;
      margin-bottom: 25px;
    }
  }
  .footer-section .rights-section .sponsors .sponsor-logo {
    height: 35px;
    width: 65px;
    border-radius: 3px;
    margin: 0px 5px;
  }
  .footer-section .rights-section .sponsors .sponsor-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  @media (max-width: 1115px) {
    .footer-section .row {
      row-gap: 30px;
    }
  }

  .footer-section ul li a,
  .footer-section ul li button {
    transition: 0.1s;
  }

  .footer-section ul li a:hover,
  .footer-section ul li button:hover {
    padding: 0 5px;
    color: #e6d39c;
  }
  /*End footer section*/

  /* Start Whatsapp Icon */
  .sticky-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 30px;
    bottom: 30px;
    z-index: 9999;
    background-color: #25d366;
    border-radius: 100%;
    color: #fff !important;
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }

  @media (max-width: 625px) {
    .sticky-icon {
      width: 55px;
      height: 55px;
    }
  }

  .hide-btn {
    bottom: -66px;
  }

  /* End Whatsapp Icon */

  /* Banner */
  body {
    /* padding-top: 39px; */
  }
  .bannar {
    width: 100%;
    padding: 9px;
    background-color: #e2d298;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
  @media (max-width: 527px) {
    body {
      /* padding-top: 69px; */
    }
    .bannar {
      flex-direction: column;
    }
  }
  @media (max-width: 380px) {
    body {
      /* padding-top: 90px; */
    }
  }
  .bannar p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #174545;
  }

  .bannar p span {
    color: #d32f2f;
    /* text-decoration: underline; */
  }

  .bannar p:nth-child(2) {
    color: #007bff;
  }

  .bannar:hover p:nth-child(2) {
    text-decoration: underline;
  }

  .bannar svg {
    width: 12px;
  }

  .no-scroll {
    padding-right: 0px !important;
  }

  /*  Bootstrap Class */
  /* Container & Grid System */
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  /* Columns */
  .col-12,
  .col-md-6,
  .col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 1200px) {
    .col-xl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  }

  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 768px) {
    .additional-style {
      padding: 0;
    }
  }

  @media (min-width: 992px) {
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  /* Flex Utilities */
  .d-flex {
    display: flex !important;
  }

  .flex-column {
    flex-direction: column !important;
  }

  .h-100 {
    height: 100% !important;
  }

  /* Justify Content */
  .justify-content-center {
    justify-content: center !important;
  }

  /* Spacing (margin-top) */
  .mt-4 {
    margin-top: 1.5rem !important;
  }

  /* Text Alignment */
  .text-center {
    text-align: center !important;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* col-md-6 (tablet) */
  @media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  /* col-xl-3 (large desktops) */
  /* @media (min-width: 1200px) {
    .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  } */
}
