.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 125px;
    padding-bottom: 110px;
  }
}

.header_box {
  h1{

  }

  h3{
    text-align: center;
    color: #757575;
  }
}