.points_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 31px;
}

.point_card {
  background-color: #fff;
  border-radius: 10px;
  padding: 18px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  transition: all 0.2s ease-in-out;
}

.point_card:nth-child(1) {
  background-color: #9747ff;
}

.point_card:nth-child(2) {
  background-color: #757575;
}

.point_card h2 {
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.point_card p {
  font-size: 14px;
  width: 246px;
  color: #00000080;
  transition: all 0.2s ease-in-out;
}

.point_card h3 {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.point_card h3 {
  color: #fff;
}

.point_card p {
  color: #ffffffcc;
}

@media (max-width: 1150px) {
  .point_card {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .points_container {
    flex-direction: column;
    gap: 24px;
    padding-top: 0px !important;
  }

  .point_card {
    width: 100%;
  }
}


// Reprots cards
.last_reports_title {
  margin-top: 55px;
  margin-bottom: 12px;
  padding: 3px 9px;
  background-color: #f5f5f5;
  width: fit-content;
  border-radius: 6px;
  font-weight: 600;
}

.reports_cards_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.progressContainer {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;

  span {
    height: 2px !important;
  }
}

@media (max-width: 900px) {

  .progressContainer {
    top: 68px;
  }
}