.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.card_box {
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  div {
    display: flex;
    gap: 8px;
  }
}
