main.zxc {
  max-width: 550px;
  height: 100%;
  padding: 16px;
  background-color: #fff;
  position: relative;
  border-radius: 9px;
  margin: auto;

  .img_box {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 900;
    text-align: center;
  }

  img {
    width: 100%;
  }

  .up_text {
    position: absolute;
    top: 25px;
  }

  .down_text {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: #000;
    border-radius: 9px;
    gap: 4px;
    border: 2px dashed #ffffff;
    padding: 3px;

    h1 {
      font-size: 32px;
      background-color: #fff;
      padding: 0px 16px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;

      @media (max-width: 550px) {
        font-size: 24px;
        padding: 0px 8px;
      }
    }

    .sale {
      background-color: #fff;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      p {
        font-size: 16px;
        padding: 0px 8px;
        width: 100%;
        font-weight: 600;

        @media (max-width: 550px) {
          font-size: 12px;
        }
      }
    }
  }
}

.bio {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  height: fit-content;
  min-height: 176px;
  border-radius: 6px;
  background-color: #f0f1f3;
  color: #757575;
  position: relative;

  button {
    cursor: pointer;
    // border: 1px solid #174545;
    border: none;
    border-radius: 3px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 3px;
    // background-color: #fff;

    &:hover svg {
      fill: #0c2525;
    }

    svg {
      vertical-align: middle;
      fill: #174545;
    }
  }
}
