.container {
  padding: 32px;
  padding-bottom: 124px;

  @media (max-width: 550px) {
    padding: 16px;
    padding-top: 134px;
    padding-bottom: 110px;
  }
}

.box {
  width: 45%;
  margin: auto;
  // background-color: #fff;
  // border-radius: 9px;
  // padding: 16px;

  @media (max-width: 550px) {
    width: 100%;
  }
}

//
.progressContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  span {
    height: 2px !important;
  }
}

//
.search_btn {
  background-color: #0000000a !important;

  &:hover {
    background-color: #d5d5d5 !important;
  }
}

//
.label_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.image_box {
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;

  img {
    width: 100%;
    transition: 0.2s;
  }
}

// .check_box {
//   margin: auto;

//   label {
//     margin: auto;
//   }
// }

@media (max-width: 575.98px) {
  .label_box {
    gap: 16px;
    justify-content: space-evenly;
  }

  .image_box {
    width: 100px !important;
  }
}

.label_text_box {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
}

// Services Section
.services_container {
  margin-bottom: 48px;
}

.services_box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 30px;

  @media (max-width: 575.98px) {
    flex-direction: column;
  }
}

.services_card {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 45px;
  border-radius: 5px;
  min-height: 415px;
  background-color: #fff;

  @media (max-width: 575.98px) {
    padding: 16px;
  }
}

.service_img {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  background-color: #174545;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
    fill: #e6d39c;
  }
}

.services_card {
  h4 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #174545;
    font-family: "mont-bold";
    margin-bottom: 14px;
  }

  p {
    color: #757575;
    margin-bottom: 36px;
    text-align: center;
  }

  ul {
    list-style: none;
    width: 100%;
    margin-bottom: 24px;

    li {
      margin-bottom: 16px;
      color: #757575;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 9px;

      svg {
        width: 25px;
        height: 25px;
        margin-left: 7px;
        fill: rgb(76, 175, 80);
      }
    }
  }

  button {
    // background-color: #174545;
    background-color: #e8e8e9;
    color: #174545;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #174545 !important;
      color: #fff !important;
    }
  }
}
