.header {
  position: auto;
  @media (max-width: 550px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

.top_circle_header {
  width: 100%;
  height: 100px;
  background-color: #174545;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    padding-top: 47px;
    width: 90px;
    position: relative;

    @media (max-width: 900px) {
      width: 65px;
      padding-top: 16px;
    }
  }
}

.introCurve {
  line-height: 0;
  img {
    width: 100%;
  }
}

//
.three_dots {
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  left: 32px;

  @media (max-width: 550px) {
    left: 16px;
  }

  &:hover {
    background-color: #203840 !important;
  }
}

//
.container {
  @media (max-width: 525px) {
    padding: 16px;
    padding-top: 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 9px;
  padding: 16px;
  padding-bottom: 25px;
  margin-top: 64px;

  @media (max-width: 550px) {
    margin-top: 132px;
  }
}
